<h1>New transfer</h1>

<% if @service && @service.errors.any? %>
  <% @service.errors.full_messages.each do |error_msg| %>
    <p><%= error_msg %></p>
  <% end %>
<% end %>

<%= form_with url: '/transfers', method: :post, data: { turbo: false } do |form| %>
  <%= form.label :to_account_number %>
  <%= form.number_field :to_account_number, required: true %>
  <br>
  <%= form.label :amount %>
  <%= form.number_field :amount, min: 0, step: 0.01, required: true %>
  <br>
  <%= form.submit 'Transfer' %>
<% end %>

<br>

<%= button_to 'Back', transactions_path, method: :get %>
