<!DOCTYPE html>
<html>
  <head>
    <title>BankingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>
    <p class="notice" style="color: #3dad4a"><%= notice %></p>
    <p class="alert" style="color: #e62e2e"><%= alert %></p>
    <% if current_user && current_account %>
      <h2>Hi <%= current_user.name %>!</h2>
      <p>Your balance is $ <%= sprintf('%0.02f', current_account.balance) %>.</p>
    <% end %>
    <%= yield %>
  </body>
</html>
